*{
    font-family: 'Courier New', Courier, monospace;
}

.room {
    background-color: #282c34;
    height: 10vh;
    overflow : atuo;
}

.room-back-button {
    position: relative;
    left: 1%;
    top: 1em;
}

