*{
    font-family: 'Courier New', Courier, monospace;
}

.room {
    background-color: #282c34;
    height: 10vh;
    
}

.room-header {
    color: white;
    position: relative;
    text-align: center;
    top: 1em;
}




.room-back-button {
    position: relative;
    left: 1%;
    top: 1em;
}

