* {
    font-family: 'Courier New', Courier, monospace;
  }

.Profile-button, .Game-rule-button .Back-button{
    position: relative;
  left: 2%;
  bottom: 8em;
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border-color: #e7e7e7;
  font-size: 100%;
  padding: 0.2% 1%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
    
}

.MessageArea{
    background-color: #282c34;
  overflow: auto;
  height: 100vh;
  color: rgb(235, 154, 108);
  position: relative;
  text-align: center;

}

p{
    color: white;
}