* {
    font-family: 'Courier New', Courier, monospace;
  }


.button-section{
    right: 8em;
}
.MessageArea{
    background-color: #282c34;
  overflow: auto;
  height: 100vh;
  color: rgb(235, 154, 108);
  position: relative;
  text-align: center;

}

p{
    color: white;
}