* {
    font-family: 'Courier New', Courier, monospace;
  }

  .Whole-Page{
    background-color: #282c34;

}

.MessageArea{
    overflow: auto;
    height: 100vh;
    color: rgb(235, 154, 108);
    position: relative;
    text-align: center;
    padding: 12%;
}

.Back-button, .Game-rule-button, .Profile-button{
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px;
    border-color: #e7e7e7;
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 0.5%;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.Back-button:hover, .Game-rule-button:hover, .Profile-button:hover{
    background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}

.Game-rule-button, .Profile-button{
    left: 68%;
}


p{
    color: white;
}