* {
  font-family: 'Courier New', Courier, monospace;
}

.profile {
  background-color: #282c34;
  overflow: auto;
  height: 100vh;
}

.profile-img {
  height: 20%;
  width: auto;
  position: relative;
  top: 8em;
  left: 16.5%;
}

.profile-back-button {
  position: relative;
  left: 2%;
  bottom: 6em;
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border-color: #e7e7e7;
  font-size: 100%;
  padding: 0.2% 1%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.Game-rule-button {
  position: relative;
  left: 2%;
  bottom: 5em;
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border-color: #e7e7e7;
  font-size: 100%;
  padding: 0.2% 1%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.profilepage-prifile-button{
  position: relative;
  left: 70%;
  bottom: 5.5em;
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  border-color: #e7e7e7;
  font-size: 100%;
  padding: 0.7% 1%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.profile-back-button:hover, .Game-rule-button:hover, .profilepage-prifile-button:hover {
  background-color: rgb(93, 106, 134);
  color: white;
  border-color:rgb(93, 106, 134);
}

.username {
  color: rgb(235, 154, 108);
  position: relative;
  text-align: center;
  top: 15%;
}

.score {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
  font-size: 150%;
}

.passwordsetting{
  color: white;
  top: 25%;
  position: relative;
  text-align: center;

}
.oldpassword{
  margin: 1%;
}

.newpassword{
  margin: 1%;
}
.confirmpassword{
  margin: 1%;
}

.input{
  padding: 14px 40px;
  width: 15%;
  text-align: left;
}

.submit{
  margin:1%;
  color: black;
  border-radius: 8px;
  border-color: #e7e7e7;
  font-size: 100%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit:hover{
  background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}