* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .form{
    border-radius:3px;
    padding:10px 15px;
    background-color:rgba(0,0,0,0.2);
    float:none;
    display:block;
  }
  .label{
    width:90%;
    font-family:Arial Black, Gadget, sans-serif;
    font-size:20px;
    display:inline-block;
    float:none;
  }
  .button{
    width:56%;
    margin:15px 0 15px 79px;
    background-color:#785580;
    border:none;
    color:#fff;
    border-radius:2px;
    padding:7px 10px 7px 0;
    font-size:1em;
    cursor:pointer;
    float:left;
  }
  body{
    
    background-attachment:scroll;
    background-size:auto;
    background-repeat:no-repeat;
    background-position:right bottom;
  }
  .navbar-items-c{
    display:inline-block;
    float:right;
  }
  .navbar{
    background-color:#222;
    color:#ddd;
    min-height:50px;
    width:100%;
  }
  .navbar-container{
    max-width:950px;
    margin:0 auto;
    width:95%;
    float:right;
  }
  .navbar-container::after{
    content:"";
    clear:both;
    display:block;
  }
  .navbar-menu{
    padding:10px 0;
    display:block;
    margin:0 0 0 0;
    float:right;
    font-family:Arial Black, Gadget, sans-serif;
    text-align:left;
  }
  .navbar-menu-link{
    margin:0 0 0 25px;
    color:inherit;
    text-decoration:none;
    display:inline-block;
    padding:10px 15px;
  }
  .navbar-burger{
    margin:10px 0;
    width:45px;
    padding:5px 10px;
    display:none;
    float:right;
    cursor:pointer;
  }
  .navbar-burger-line{
    padding:1px;
    background-color:white;
    margin:5px 0;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  .checkbox-label{
    font-family:Arial Black, Gadget, sans-serif;
    font-size:20px;
  }
  #idhcuh{
    flex-basis:95.6%;
  }
  #ig8irc{
    flex-basis:6.6%;
  }
  #ivgqjx{
    width:1000px;
  }
  #isg7fj{
    padding:10px;
    float:none;
    display:inline-block;
    width:500px;
    font-family:Arial Black, Gadget, sans-serif;
  }
  #ivf9oy{
    color:black;
    width:191px;
    height:191px;
  }
  #ixje8b{
    padding:10px;
    float:none;
    display:inline-block;
    width:500px;
    font-family:Arial Black, Gadget, sans-serif;
  }
  #i7baxi{
    padding:10px;
    float:none;
    display:inline-block;
    width:500px;
    font-family:Arial Black, Gadget, sans-serif;
  }
  #i8sbax{
    flex-basis:27%;
  }
  #i69sek{
    height:44px;
  }
  #i6hc72{
    flex-basis:27.2%;
  }
  #iy4ufc{
    height:45px;
  }
  #if8dpg{
    height:50px;
  }
  #i6sopw{
    flex-basis:27.8%;
  }
  #itwcsj{
    flex-basis:27.4%;
  }
  #irm6mf{
    flex-basis:27.4%;
  }
  #ipc60h{
    flex-basis:27.6%;
  }
  #iau29l{
    height:30px;
    width:300px;
    margin:0 0 0 0;
  }
  #ivikdg{
    height:200px;
    width:200px;
  }
  #iij6sl{
    width:300px;
    height:30px;
    margin:0 0 0 0;
  }
  #i9vv0i{
    width:300px;
    height:30px;
    margin:0 0 0 0;
  }
  #ide4ss{
    width:300px;
    height:30px;
    margin:0 0 0 0;
  }
  #ice2i5{
    height:45px;
  }
  #ikk0ch{
    height:175px;
  }
  #iyn75a{
    height:55px;
  }
  #i2djx4{
    height:55px;
  }
  #iir6ni{
    flex-basis:79.8%;
  }
  @media (max-width: 768px){
    .navbar-burger{
      display:block;
    }
    .navbar-items-c{
      display:none;
      width:100%;
    }
    .navbar-menu{
      width:100%;
    }
    .navbar-menu-link{
      display:block;
    }
    .row{
      flex-wrap:wrap;
    }
  }
  