* {
    font-family: 'Courier New', Courier, monospace;
}

.room-list {
    text-align: center;
    background-color: #282c34;
    overflow: auto;
}

.room-list-header {
    position: relative;
    font-size: 700%;
    color: rgb(235, 154, 108);
    bottom: 0.5em;
    right: 35%;
}

.room-img {
    position: relative;
    width: 30%;
    height: auto;
    bottom: 8em;
    right: 46.5%;
}

.create-button, .profile-button, .game-rule-button{
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px;
    border-color: #e7e7e7;
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 0.5%;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.create-button {
    bottom: 36.65em;
    right: 10%;
}

.create-button:hover, .profile-button:hover, .game-rule-button:hover{
    background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}

.profile-button, .game-rule-button{
    bottom: 29.9em;
    left: 53%;
}

.room-num {
    color: white;
    font-size: 200%;
    position: relative;
    left: 31.5%;
    bottom: 18.15em;
}

.userid {
    color: white;
    font-size: 200%;
    position: relative;
    left: -11%;
    bottom: 16.15em;
}

.room-num-input {
    width: 8%;
    height: 2.5em;
    position: relative;
    bottom: 0.5em;
    border-radius: 8px;
    background-color: #e7e7e7;
    left: 1%;
}

.username {
    width: 18%;
    height: 2.5em;
    position: relative;
    border-radius: 8px;
    background-color: #e7e7e7;
    bottom: 0.5em;
}

.enter-button {
    background-color: rgb(235, 154, 108);
    color: black;
    border-radius: 8px;
    border-color: rgb(235, 154, 108);
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 1%;
    position: relative;
    left: 32.5%;
    bottom: 33.25em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.enterid-button {
    background-color: rgb(235, 154, 108);
    color: black;
    border-radius: 8px;
    border-color: rgb(235, 154, 108);
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 1%;
    position: relative;
    left: -10.5%;
    bottom: 29.5em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.enter-button:hover {
    background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}

table {
    cursor: pointer;
    position: relative;
    bottom: 35em;
    left: 50%;
}

thead {
    font-size: 200%;
    color: rgb(235, 154, 108);
}

tbody {
    color: white;
    font-size: 120%;
}

thead .id{
    position: relative;
    right: 6em;
}

tbody .id {
    position: relative;
    right: 8em;
    
}

thead .count {
    position: relative;
    right: 3em;
}

tbody .count {
    position: relative;
    left: 8em;
}

tbody .status {
    position: relative;
    left: 23em;
}