* {
    font-family: 'Courier New', Courier, monospace;
}

.room-list {
    text-align: center;
    background-color: #282c34;
    overflow: auto;
}

.room-list-header {
    position: relative;
    font-size: 700%;
    color: rgb(235, 154, 108);
    top: 0.8em;
    right: 35%;
}

.room-img {
    position: relative;
    width: 30%;
    height: auto;
    right: 46.5%;
}

.create-button, .profile-button, .game-rule-button{
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px;
    border-color: #e7e7e7;
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 1%;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.create-button {
    bottom: 46.7em;
    right: 4.2%;
}

.create-button:hover, .profile-button:hover, .game-rule-button:hover{
    background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}

.profile-button, .game-rule-button{
    bottom: 37.5em;
    left: 55%;
}

.room-num {
    color: white;
    font-size: 200%;
    position: relative;
    left: 16%;
    bottom: 23em;
}

.room-num-input {
    width: 8%;
    height: 2.5em;
    position: relative;
    bottom: 0.5em;
    border-radius: 8px;
    background-color: #e7e7e7;
}

.enter-button {
    background-color: rgb(235, 154, 108);
    color: black;
    border-radius: 8px;
    border-color: rgb(235, 154, 108);
    padding: 0.5% 1.5%;
    font-size: 110%;
    margin: 1%;
    position: relative;
    left: 17.2%;
    bottom: 42.1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.enter-button:hover {
    background-color: rgb(93, 106, 134);
    color: white;
    border-color:rgb(93, 106, 134);
}

table {
    position: relative;
    bottom: 44.8em;
    left: 50%;
}

thead {
    font-size: 200%;
    color: rgb(235, 154, 108);
}

tbody {
    color: white;
}

thead .id{
    position: relative;
    right: 6em;
}

tbody .id {
    position: relative;
    right: 8em;
    
}

thead .count {
    position: relative;
    right: 3em;
}

tbody .count {
    position: relative;
    left: 8em;
}

tbody .status {
    position: relative;
    left: 23em;
}