.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  overflow: hidden;
}

.App-header {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  color: white;
  right: 330px;
  bottom: 85px;
}

.App-bg {
  position: relative;
  width: 40%;
  height: 40%;
  left: 350px;
  top: 100px;
}

